body {
 /*background-color: #ded9fa;*/
  background-image: url('https://i.pinimg.com/736x/33/9a/13/339a132e3c1a2ccd773b3e6bab35e419.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  color: #4c489d;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}

h2 {
  color: #4c489d;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

h3 {
  color: #7370ae;
  font-size: 20px;
  margin-bottom: 2px;
  text-align: left;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  text-align: center;
}

section {
  border: 1px solid #b3addf;
  border-radius: 8px;
  margin: 40px auto;
  padding: 15px;
  background-color: #ffffff;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  padding-left: 20px;
}

li {
  color: #7370ae;
  margin-bottom: 5px;
  list-style-type: disc;
}

p {
  font-size: 16px;
  margin: 10px 0;
  text-align: justify;
}

img {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
  border: 1px solid #b3addf;
}

div {
  display: inline-block;
  margin: 10px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #b3addf;
  text-align: center;
  width: 35%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.profile-card-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Button Styling */
.button-container {
  margin-top: 10px;
}

.button {
  background-color: #9676b7;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #b4a4e4;
}

.achievement {
  font-size: 14px;  
  color: #666; 
  margin-left: 20px;
  text-align: left;
}


.gallery-section {
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 90%;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
  justify-content: center; 
  gap: 15px; 
  align-items: center
}

.gallery img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
}

.gallery img:hover {
  transform: scale(1.05);
}
