body {
  background-color: #ded9fa;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  color: #4c489d;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}

h2 {
  color: #4c489d;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

h3 {
  color: #6864ac;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

section {
  border: 1px solid #b3addf;
  border-radius: 8px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

ul {
  padding-left: 20px;
}

li {
  color: #4c489d;
  margin-bottom: 5px;
  list-style-type: disc;
}

p {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

img {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
  border: 1px solid #b3addf;
}

div {
  display: inline-block;
  margin: 10px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #b3addf;
  text-align: center;
  width: 20%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%; /* Push to middle */
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Styling */
.button-container {
  margin-top: 10px;
}

.button {
  background-color: #9676b7;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #b4a4e4;
}

.achievement {
  font-size: 14px;  
  color: #666; 
  margin-left: 20px;
}

.education {
  margin-bottom: 15px;
}
